.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}


.order-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-list li {
    margin-bottom: 8px;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 200px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #001f3f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #003366;
}

.app-container {
  display: flex;
  flex-wrap: wrap; 

.order-form-container {
  width: 100%;
  max-width: 400px; 
  margin: 20px auto;
}

.logs-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  text-align: center;
  max-height: 300px; 
  overflow-y: auto;
  
}

@media screen and (min-width: 768px) {
  .app-container {
    justify-content: space-between;
  }

  .order-form-container {
    width: 30%;
  }

  .logs-container {
    width: 65%;
  }
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.logs-table th, .logs-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.log-container {
  width: 100%;
  padding-inline: 20px;
  text-align: center;
  
}

.log-table {
  width: 100%;
  border-collapse: collapse;
}

.log-table th,
.log-table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}}